
    <nav class="navbar">
      <a href="/"><img class="logo" src="/public/img/coffee-logo.png" alt=""></a>
        <div class="navbar-collapse">
          <ul class="navbar-list">
            <li class="navbar-item"><a href="#" class="navbar-link">Liste de produits</a></li>
            <li class="navbar-item navbar-right"><a href="#" class="navbar-link">Mon panier</a></li>
          </ul>
          <div class="navbar-auth">
            <a href="/connexion" class="navbar-auth-link">Connexion</a>
            <a href="/inscription" class="navbar-auth-link">Inscription</a>
          </div>
        </div>
      </nav>
      
