<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee shop</title>
    <link rel="stylesheet" href="/public/css/nav.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/formulaire.css">
    <link rel="shortcut icon" href="/public/img/coffee-logo.png" type="image/x-icon">
</head>
<body>

    <%- include('partials/nav.ejs') %>
    <div class="container">
        <form method="POST">
            <h1>Inscription</h1>
            <input type="text" name="nom" placeholder="Nom">
            <input type="text" name="prenom" placeholder="Prénom">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="mdp" placeholder="Mot de passe">
            <input type="password" name="mdpv" placeholder="Confirmation du mot de passe">
            <input class="buton" type="submit" value="S'inscrire">
        </form>
    </div>
</body>
</html>